[submodule "docs"]
	path = docs
	url = https://github.com/hideo55/cpp-HSDS.git
[submodule "cmake/FindSSE"]
	path = cmake/FindSSE
	url = https://github.com/hideo55/CMake-FindSSE.git
[submodule "extlib/igloo"]
	path = extlib/igloo
	url = https://github.com/joakimkarlsson/igloo.git
[submodule "extlib/igloo-TapTestListener"]
	path = extlib/igloo-TapTestListener
	url = https://github.com/hideo55/igloo-TapTestListener.git
